  <div class="row">
      
    <div class="col-xs-4">
      <%= image_tag @user.photo, class: 'prof_pic' %>
    </div>

    <div class="col-xs-8">

      <div class="user_header">
        
          <h1 class = "username", style="display:inline-block;margin-right:25px"><%= @user.name %></h1>

          <div style="display:inline-block">
          <% if current_user.following?(@user) %>
              <%= link_to 'Following', user_unfollow_index_path(@user.id), method: 'post', class: 'btn btn-success inline-block', remote: true if user_signed_in? && @user != current_user %>
          <% else %>
              <%= link_to 'Follow', user_follow_index_path(@user.id), method: 'post', class: 'btn btn-default inline-block', remote: true if user_signed_in? && @user != current_user %>
          <% end %>
         <%= link_to 'EDIT PROFILE', edit_user_registration_path(@user), class: 'user_edit_button btn btn-default' if user_signed_in? && @user == current_user %>

          </div>
      </div>

      <span class="count"><%= pluralize @user.posts.count, "post" %></span> 
      <span class="count"><%= pluralize @user.followers_count, "follower" %></span>
      <span class="count"><%= @user.follow_count %> following </span>

    </div>
  </div>
