<!DOCTYPE html>

<% if user_signed_in? %>

<% @posts.each do |post| %>
<div id="post">
  <div id="post_body">
  <div id="post_user">
  <%= link_to(image_tag(post.user_photo, class:'profile_pic'), user_path(post.user_id)) %>
  <span class="timestamp pull-right"><%= distance_of_time_in_words(DateTime.now, post.created_at) %> ago</span>
  <%= link_to post.user_name, user_path(post.user_id), class: 'post_user_name' %> <br>
  </div>
  <%= image_tag post.photo, class: 'post_photo'%> <br> <br>
  
   <span id="likes_container_<%= post.id %>">
    <%= render partial: 'likes', locals: {post: post} %>
  </span>
  
    <div id="post_description">
    <%= link_to post.user_name, user_path(post.user_id), class: 'post_user_name' %> <%= post.description %> <br>


    <%= link_to 'View Post', post_path(post.id), class: 'post_action_links' %>
    <% if post.user == current_user %>
    <%= link_to 'Edit Post', edit_post_path(post.id), class: 'post_action_links' %>
    <%= link_to 'Delete Post', post_path(post.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'post_action_links' %>
    <% end %><br>
    </div>
  </div>
  
  <% post.comments.each do |comment| %>
    <div id="comment">
    <%= link_to comment.user_name, user_path(comment.user_id), class: 'post_user_name' %>
    <%= comment.text %><br>
    <% if comment.user == current_user %>
      <%= link_to 'Delete Comment', post_comment_path(post.id,comment.id), method: :delete, data: {confirm: "Are you sure?"}, class: 'post_action_links' %>
    <% end %> 
    </div>
  <% end %> 


<div id="comment">
  <%= simple_form_for Comment.new, url: post_comments_path(post), method: :post do |f| %>
    <%= f.input :text, label: false, placeholder: 'Add a comment...' %>
    <%= f.submit 'Comment', class: 'btn btn-primary btn-block comment_post_box' %>
  <% end %>
</div>
</div>
<% end %>

<% else %>

<div id="welcome">
<h2> Welcome To </h2>
<h1 class="welcome"> Instapost  </h1>
<h1 style="color:black"> Login or Signup to get started </h1>
<img class="welcome_page_img" src="https://s21.postimg.org/5en2r5s8n/logo.gif" >
</div>


<% end %>